<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="fr.studiodev.testlayout2"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon" android:label="@string/app_nom" android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".TestLayout2"
                  android:label="@string/app_nom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Onglets -->
        <activity android:name="activites.Prets" android:label="TabPrets" />
        <activity android:name="activites.Emprunts" android:label="TabEmprunts" />
        <activity android:name="activites.Historique" android:label="TabHistorique" />
        
        <!-- Ecran de saisies -->
        <activity android:name="activites.FormAjoutObjet" android:label="EcranFormAjout" />

    </application>
</manifest>